name: release_google_play
on:
  workflow_dispatch:
jobs:
  release_google_play:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: setup_env
      run: |
        echo $env:ANDROID_HOME
        echo $env:JAVA_HOME
        echo $env:PATH
        java -version
    - name: resolve_keystore_path
      run: |
        $absPath = Resolve-Path app/dist/android/upload-keystore.jks
        echo "ABS_KEYSTORE_PATH=$absPath" >> $env:GITHUB_ENV
    - name: build
      run: |
        cd app
        Set-Content -Path app/code/api_key.h -Value '${{secrets.ANDROID_API_KEY_H}}' -Encoding utf8
        pmbuild android
        cd build/android
        gradle.bat wrapper
        ./gradlew.bat bundleRelease "-Pandroid.injected.signing.store.file=${env:ABS_KEYSTORE_PATH}" "-Pandroid.injected.signing.store.password=${{secrets.GOOGLE_PLAY_SIGNING_KEYSTORE_PASSWORD}}" "-Pandroid.injected.signing.key.alias=upload-key" "-Pandroid.injected.signing.key.password=${{secrets.GOOGLE_PLAY_SIGNING_KEYSTORE_PASSWORD}}"
    - name: upload
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{secrets.SERVICE_ACCOUNT_JSON}}
        packageName: pmtech.diig
        releaseFiles: "app/build/android/diig/build/outputs/bundle/release/diig-release.aab"
        track: internal
        status: completed

