name: release_google_play
on:
  workflow_dispatch:
jobs:
  release_google_play:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: setup_env
      run: |
        echo $env:ANDROID_HOME
        echo $env:JAVA_HOME
        echo $env:PATH
        java -version
    - name: build
      run: |
        cd app
        pmbuild android
        cd build/android
        gradle.bat wrapper
        ./gradlew.bat bundleRelease
    - name: upload
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{secrets.SERVICE_ACCOUNT_JSON}}
        packageName: pmtech.diig
        releaseFiles: "app/build/android/diig/build/outputs/bundle/release/diig-release.aab"
        track: internal
        status: completed

