name: release_google_play
on:
  workflow_dispatch:
jobs:
  release_google_play:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: check_env
      run: |
        adb --version
        java -version
    - name: setup_path
      run: |
        echo "$ANDROID_HOME/platform-tools" >> $GITHUB_ENV
        echo "$ANDROID_HOME/tools" >> $GITHUB_ENV
        echo "$ANDROID_HOME/tools/bin" >> $GITHUB_ENV
        echo "$ANDROID_HOME/build-tools/34.0.0" >> $GITHUB_ENV
    - name: build
      run: |
        cd app
        pmbuild android
        cd build/android
        gradle.bat wrapper
        ./gradlew.bat bundleRelease
    - name: upload
      if: false
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccountJsonPlainText: ${{secrets.SERVICE_ACCOUNT_JSON}}
        packageName: pmtech.diig
        releaseFiles: "app/build/android/diig/build/outputs/bundle/release/diig-release.aab"
        track: internal
        status: completed

