name: release
on:
  workflow_dispatch:
jobs:
  release_google_play:
    runs-on: [self-hosted, Windows]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - name: build
      run: |
        cd app
        pmbuild android
        cd build/android
        ./gradle.bat wrapper
        ./gradlew.bat bundleRelease

