name: scrape
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-stores:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade google-auth
    - name: scrape_and_commit
      run: |
        cd scrape
        python3 dig.py -update-stores -key '${{secrets.SERVICE_ACCOUNT}}'
  scrape-juno:
    needs: update-stores
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade google-auth
    - name: scrape_and_commit
      run: |
        cd scrape
        python3 dig.py -store juno -key '${{secrets.SERVICE_ACCOUNT}}' -clear-trackers
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "- update juno releases" || true
        git pull --rebase
        git push origin HEAD:main
  scrape-phonica:
    needs: update-stores
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade google-auth
        python3 -m pip install selenium
    - name: scrape_and_commit
      run: |
        cd scrape
        python3 dig.py -store phonica -key '${{secrets.SERVICE_ACCOUNT}}' -clear-trackers -verbose -urls
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "- update phonica releases" || true
        git pull --rebase
        git push origin HEAD:main
  scrape-redeye:
    needs: update-stores
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade google-auth
    - name: scrape_and_commit
      run: |
        cd scrape
        python3 dig.py -store redeye -key '${{secrets.SERVICE_ACCOUNT}}' -clear-trackers -urls
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "- update redeye releases" || true
        git pull --rebase
        git push origin HEAD:main
  scrape-yoyaku:
    needs: update-stores
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: install_deps
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --upgrade google-auth
    - name: scrape_and_commit
      run: |
        cd scrape
        python3 dig.py -store yoyaku -key '${{secrets.SERVICE_ACCOUNT}}' -clear-trackers -verbose -urls
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "- update yoyaku releases" || true
        git pull --rebase
        git push origin HEAD:main
